<div class="header">
    <div class="header-logo"><a routerLink="home">Shotime</a></div>
    <div class="header-gender">
        <div class="circle"></div>
        <div class="header-gender-item">
            <a>Men</a>
        </div>
        <div class="header-gender-item">
            <a>Women</a>
        </div>
    </div>
    <div class="header-navigation">
        <div class="search">
            <mat-icon>search</mat-icon>
        </div>
        <div class="cart">
            <div class="cart-text">cart 0</div>
        </div>
        <div class="menu">
            <div class="menu-text">Menu</div>
            <div class="menu-icon">
                <div class="menu-squere-horizont"></div>    
                <div class="menu-squere-vertical"></div>
            </div>
        </div>
    </div>
</div>